<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" th:action="@{/student/add}" th:object="${student}">
    <div>
        <select name="universityId">
            <option th:each="university : ${universities}"
                    th:text="${university.uneversityName}"
                    th:value="${university.id}">
            </option>
        </select>
    </div>

    <div>
        <select name="eventId">
            <option th:each="event : ${events}"
                    th:text="${event.eventTitle}"
                    th:value="${event.id}">
            </option>
        </select>
    </div>

    <div><input type="text" th:field="*{studentName}" placeholder="имя"></div>
    <div><input type="text" th:field="*{studentCode}" placeholder="код"></div>

    <p><input type="submit" value="Добавить"></p>
</form>


<p><a href="/">На главную</a></p>


</body>
</html>