<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Форма добавления университета</h3>

<p> Университет <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> добавлен</p>

<form method="post" th:action="@{/university/add}" th:object="${university}">
    <label>Название университета: <input th:field="*{uneversityName}" type="text"></label>
    <p><input type="submit" value="Добавить"></p>
</form>




<p><a href="/">На главную</a> </p>

</body>
</html>