<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" th:action="@{/event/add}" th:object="${event}">
    <div>
        <label>Событие: <input th:field="*{eventTitle}" type="text"></label>
    </div>

    <div>
        <label>Описание: <textarea th:field="*{eventDescription}"></textarea></label>
    </div>
    <div>
        <label>Дата: <input th:field="*{eventStart}" type="datetime-local"></label>
    </div>
    <p><input type="submit" value="Добавить"></p>
</form>

<p> Событие <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> добавлено!</p>


<p><a href="/">На главную</a> </p>

</body>
</html>